<footer class="background1 wide">
    <div class="col_6">

        <p>If your property is 2 years old or more, you will probably qualify for a reduced rate of VAT at 10%. But only if the work done is carried out by a registered French Artisan.</p>
            <p>We can give you full details on request.</p>

    </div>

    <div class="col_6">
        <p>We are fully qualified, registered and insured here in France with the French 10 year decennal insurance.</p>

            <p>Siret Number: 452 697 568 00015</p>
            <p>VAT/TVA Number: FR 81 452 697 568</p>

    </div>
    <div class="col_12 center small">
        <p>All text and photographs copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Sean Hendicott</p>
        <p>Website by <a href="https://mark.berthelemy.net" target="_blank">Mark Berthelemy</a> | <a href="/privacy" target="_blank">Privacy policy</a></p>
    </div>



</footer>
