<footer class="background1 wide">
    <div class="col_6">
        <p>VAT/TVA No. FR 81 452 697 568</p>
        <p>Did you know if your property is 2 years old or more, you will more than likely qualify for a reduced rate VAT at 10%? But only if the work done is carried out by a registered French Artisan.</p>
            <p>We can give you full details on request.</p>
            <p>All text and photographs copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Sean Hendicott</p>
    </div>
    <div class="col_6 center">
        <p><a href="https://www.facebook.com/seanhendicott/" target="_blank"><img id="FBlogo" src="/assets/images/FindUsOn_Header_2019.png" alt="Find us on Facebook" /></a></p>
    </div>
    
</footer>