<footer class="background1 wide">
    <div class="col_6">

        <p>Si votre propriété a plus de 2 ans, vous bénéficiez probablement d'un taux de TVA réduit de 5.5% ou 10%.</p>
            <p>Nous pouvons vous donner plus de détails sur demande.</p>

    </div>

    <div class="col_6">
        <p>Nous sommes qualifiés, enregistrés et assurés ici en France avec une assurance décennale française.</p>

            <p>Siret: 452 697 568 00015</p>
            <p>TVA: FR 81 452 697 568</p>

    </div>
    <div class="col_12 center small">
        <p>Tous les textes et photographies sont protégés par le droit d'auteur &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Sean Hendicott</p>
        <p>Site Web par <a href="https://faouetinformatique.net" target="_blank">Faouët Informatique</a> | <a href="/privacy" target="_blank">Privacy policy</a></p>
    </div>

</footer>
