<div class="gallery center">
    {% capture galleryname %}{{ include.gallery }}{% endcapture %}
    {% assign count = 0 %}
    {% assign max-count = 2 %}
            {% for image in site.static_files %}
                {% if image.path contains galleryname %}

                <div class="col_4">
                        <a href="{{ site.baseurl }}{{ image.path }}"><img title="{{ image.basename }}" src="{{ site.baseurl }}{{ image.path }}" class="constrain-img" alt="{{ image.basename }}" /></a>
                </div>
                    {% if count == max-count %}
                        {% assign count = 0 %}
                        <div class="clear"></div>
                    {% else %}
                        {% assign count = count | plus:1 %}
                    {% endif %}
                {% endif %}

            {% endfor %}
            <div class="clear"></div>
            </div>
