<!-- Javascript -->
   
    <script type="text/javascript" src="{{ 'assets/kickstart/js/kickstart.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery-scroll.js' | relative_url }}"></script>

<script>
$(document).ready(function(){
    $(function(){
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: false,
        auto: true,
        autoControls: true,
        stopAutoOnClick: true,
        slideWidth: 600
      });
    });
});

$( document ).ready(function() { // Tells the function to wait to preform until everything on the page has loaded.
        $('a[href^="http"]').attr('target','_blank');
        });
</script>