<!-- Javascript -->
   
    <script type="text/javascript" src="{{ 'assets/kickstart/js/kickstart.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery-controls.js' | relative_url }}"></script>

<script>
$(document).ready(function(){
    $(function(){
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true,
        auto: true,
        autoControls: true,
        stopAutoOnClick: true,
        slideWidth: 600
      });
    });
});
</script>