<!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/kickstart/js/kickstart.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-controls.js"></script>

<script>
$(document).ready(function(){
    $(function(){
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true,
        auto: true,
        autoControls: true,
        stopAutoOnClick: true,
        slideWidth: 600
      });
    });
});
</script>