<div class="fixed">
    <ul class="menu">
        {% capture lang %}{{ page.language }}{% endcapture %}
        <li class="current menu-item-1"><a href="#banner">{{ site.t[lang].home.name }}</a></li>
        <li class="menu-item-2"><a href="#ironheart">{{ site.t[lang].ironheart.name }}</a></li>
        <li class="menu-item-3"><a href="#products">{{ site.t[lang].products.name }}</a></li>
        <li class="menu-item-4"><a href="#services">{{ site.t[lang].services.name }}</a></li>
        <li class="menu-item-5"><a href="#about">{{ site.t[lang].about.name }}</a></li>

        <li class="menu-item-6"><a href="#testimonials">{{ site.t[lang].testimonials.name}}</a></li>
        <li class="menu-item-7"><a href="#contact">{{ site.t[lang].contact.name }}</a></li>
    </ul>
</div>
<div class="lang-select">
    <a href="{{ site.baseurl }}/fr/">FR</a> | <a href="{{ site.baseurl }}/en/">EN</a>
</div>
