// Globals

$dark-grey: #111;
$light-grey: #ddd;
$transp-grey: rgba(50,50,50,0.5);
$black: #000;
$white: #fff;



// Specific styles


$background-banner: $color-primary-0;
//$background1: #FFC47D;
//$background2: #FFB253;
//$background3: #FD9F2C;

$menu-background-color: $black;
$menu-current-text-color: $white;
//$menu-current-background-color: #757CD1;
//$menu-button-background-color: #101878;
$menu-button-text-color: $light-grey;
$menu-hover-background-color: $light-grey;
$menu-hover-text-color: $dark-grey;
