// Globals

$textcolor: #111;

$background1: #fff;
$background2: #15f;
$background3: #f5f;

$menu-background-color: #170400;
$menu-current-text-color: #000;
$menu-current-background-color: #f00;
$menu-button-background-color: #00f;
$menu-button-text-color: #000;
$menu-hover-background-color: #fff;
$menu-hover-text-color: #000;