---
# Main overrides file
---
/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import "globals";

/*---------------------------------
	OVERRIDES
-----------------------------------*/


html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	color: $textcolor;
}

a[href^="http"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 4px;
}

section::before { 
  display: block; 
  content: " "; 
  margin-top: -45px; 
  height: 45px; 
  visibility: hidden; 
  pointer-events: none;
}

h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;
}

strong {
	color: $textcolor;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

.slideshow {
	font-size: 0.75em;
}

.slideshow li {
	padding: 1.5em 50px;
	color: #111;
}

.slideshow h4, .slideshow p {
	width: 80%;
}

blockquote{
	font-family: "Arimo", arial, verdana, sans-serif;
	font-style: normal;
	line-height: 2.2em;
	font-size: 1em;
	width: 70%;
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	/*margin: 1.5em 10px;*/
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

blockquote::before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote::after {
	color: #ccc;
	content: close-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-left: 0.25em;
	vertical-align: -0.4em;
}

section, footer {
	overflow: hidden;
}

.small {
	font-size: .8em;
}

img#FBlogo {
	width: 100px;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:$textcolor;
overflow-x: hidden;
font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

p, li, td, label {
	font-size: 1.2em;
}



/*---------------------------------
	BUTTONS
-----------------------------------*/
button,
a.btn,
a.btn:visited,
a.button,
a.button:visited,
input[type="submit"],
input[type="reset"],
input[type="button"]{
position:relative;
top:0;
left:0;
vertical-align: middle;
margin:0;
padding:10px 15px;
line-height:100%;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
cursor: pointer;
width:auto;
overflow:visible;
font-weight:normal;
font-size:14px; /*Pixels for consistancy*/
text-shadow:0 1px 0 #fff;

text-decoration:none;
vertical-align: middle;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display:inline-block;
*display:inline;/*IE ONLY*/
zoom:1;
border:1px solid #ccc;
background: rgb(252,252,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
}

button:active,
a.btn:active,
a.btn:visited:active,
a.button:active,
a.button:visited:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);}
button[disabled],.disabled:active{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

button,
input[type="submit"],
input[type="reset"],
input[type="button"]{*padding:7px 15px;}/*IE 7 ONLY*/

	a.btn,a.button{}/*overrides*/
	button.small, a.btn.small, a.button.small{font-size:0.8em;padding:5px 10px;}
	button.medium, a.btn.medium, a.button.medium{}/*default*/
	button.large, a.btn.large, a.button.large{font-size:1.3em;padding:10px 20px;}
	button.disabled, a.btn.disabled, a.button.disabled{color:#ccc;cursor:default;background:#efefef;}
	button.disabled:hover, a.btn.disabled:hover, a.button.disabled:hover{border:1px solid #ccc;background:#efefef;}

	


.button.fire {
	text-shadow:none;
	color:#eee;
	border:none;
	background: #170400; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,112,62,1) 0%, rgba(23,4,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,112,62,1)), color-stop(100%,rgba(23,4,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(157,112,62,1) 0%,rgba(23,4,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(157,112,62,1) 0%,rgba(23,4,0,1) 100%); /* Opera 11.10+ */
	background: linear-gradient(top, rgba(157,112,62,1) 0%,rgba(23,4,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	font-size: 1.3em;
	
}



a.button.fire:hover {
	background:rgba(253,4,0,1);
	background: -moz-linear-gradient(top, rgba(23,4,0,1) 0%, rgba(23,4,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,4,0,1)), color-stop(100%,rgba(23,4,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(23,4,0,1) 0%,rgba(23,4,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(23,4,0,1) 0%,rgba(23,4,0,1) 100%); /* Opera 11.10+ */
	background: linear-gradient(top, rgba(23,4,0,1) 0%,rgba(23,4,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	color: #eee;
	text-shadow:none;
	border:none;
}

.button.light {
	text-shadow:none;
	color:#eee;
	border:none;
	background: #170400; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,112,62,1) 0%, rgba(23,4,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,112,62,1)), color-stop(100%,rgba(23,4,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(157,112,62,1) 0%,rgba(23,4,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(157,112,62,1) 0%,rgba(23,4,0,1) 100%); /* Opera 11.10+ */
	background: linear-gradient(top, rgba(157,112,62,1) 0%,rgba(23,4,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	font-size: 1.3em;
	
}

a.button.light:hover {
	background: #170400; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,112,62,1) 0%, rgba(73,54,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,112,62,1)), color-stop(100%,rgba(73,54,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(157,112,62,1) 0%,rgba(73,54,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(157,112,62,1) 0%,rgba(73,54,50,1) 100%); /* Opera 11.10+ */
	background: linear-gradient(top, rgba(157,112,62,1) 0%,rgba(73,54,50,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	font-size: 1.3em;
	color: #eee;
	text-shadow:none;
	border:none;
}

table.unstriped td {
	border:none;
}

/*----*/

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background: $background1;
}

	#link-top{
	display:none;
	}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:9999;
	
}

.menu {
	background: none;
	background-color: $menu-background-color;
	border: none;
}

.menu li {
	background-color: $menu-button-background-color;
}

.menu li a {
	text-shadow: none;
	color: $menu-button-text-color;
}

.menu li.current>a, .menu li.current>a:hover, .menu li.current:hover>a {
	background: none;
	background-color: $menu-current-background-color;
	color: $menu-current-text-color;
}

.menu li a:hover, .menu li:hover>a {
	background: $menu-hover-background-color;
	color: $menu-hover-text-color;
}

#banner {
	margin-top: 2px;
	padding-top: 10em;
	background-color: $background-banner;
	background-size: 100% 100%;
}


.background1 {
	background-color: $background1;
}

.background2 {
	background-color: $background2;
}

.background3 {
	background-color: $background3;
}

.smallsquare {
	width: 100px;
	height: 100px;
	display:inline-block;
}



.square {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.squareImg {
	position: absolute;
}

.wide {
	margin-left:-9999rem;
	margin-right:-9999rem;
  /* add back negative margin value */
  padding: 2rem 9999rem;
}

.full-height {
	min-height: 100vh;
}

#newsflash {
	background-color: #9D703E;
	box-shadow: 0px 3px 5px #222;
	padding: 10px;
	color: #111;
	line-height: 1.5em;
	font-size: 1.1em;
}

#newsflash p {
	margin: 15px auto;
	max-width: 600px;

}

img.logo {
	width: 100px;
}

.lang-select {
	position: fixed;
	top: 10px;
	left: 82%;
	color: $textcolor;
	z-index: 9999;
}

h4.margin40 {
	 margin-bottom:40px;
}

img.flag {
	height: 100px;
}

/* NAV BAR*/
.navbar{
position:fixed;
top:0;
left:0;
width: 100%;
/*background:#000;
color:#fff;*/
z-index:1000;
}

	.navbar #logo{
	position:absolute;
	top:0;
	right:0;
	padding:0.5em 1em;
	font-size: 1.7em;
	color:#efefef;
	text-decoration:none;
	}

	.navbar span{
	color:#86dc00;
	}


	.navbar ul{
	display:inline-block;
	margin:0;
	padding:0;
	}

		.navbar li{
		margin:0;
		padding:0;
		list-style-type:0;
		display:inline-block;
		}

		.navbar li a{
		display:inline-block;
		color:#efefef;
		padding:1em 1.3em;
		text-decoration:none;
		text-transform: uppercase;
		line-height:100%;
		font-size: 1.2em;
		}

.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}
