{% include head.html lang=page.language %}
<body>
<div class="grid">


        {% capture pagelang %}{{ page.language }}{% endcapture %}
        {% if page.title == "switcher" %}

        <section id="banner" class="wide full-height">
            <div class="bg-image"></div>
            <div class="bg-text">
                <img class="logo" src="{{ 'assets/images/sean-logo.png' | relative_url }}" />
                <h1>{{ site.title }}</h1>
                <div class="col_6 center">
                    <a href="{{ site.baseurl }}/fr/">
                    <h4 class="margin40">Français</h4>
                    <img class="flag" alt="Flag de France" src="{{ 'assets/images/FR.svg' | relative_url }}" /></a>
                </div>
                <div class="col_6 center">
                    <a href="{{ site.baseurl }}/en/">
                    <h4 class="margin40">English</h4>
                    <img class="flag" alt="UK flag" src="{{ 'assets/images/GB.svg' | relative_url }}" />
                    </a>
                </div>
            </div>
        </section>
        {% else %}
        {% include navbar.html %}
        <section id="banner" class="wide full-height">
            <div class="bg-image"></div>
            <div class="bg-text">
                <h1>
                {{ site.title }}</h1>
                <h4 style="margin-bottom:40px;">{{ site.t[lang].description.name }}</h4>

                <a href="#about" class="button">{{ site.t[lang].find-out.name }}</a>

            </div>

        </section>
        {% endif %}



        {{ content }}


</div> <!-- End Grid -->
{% include javascripts.html %}
</body>
</html>
