{% include head.html %}
<body>
<div class="grid">
    
        {% include navbar.html %}
    
        <section id="banner" class="wide full-height">
            <div class="col_12">
                <h1>
                {{ site.title }}</h1>
                <h4 style="margin-bottom:40px;">{{ site.t[lang].description.name }}</h4>
            </div>
            
            <div class="col_12">
                <a href="#about" class="fire button">{{ site.t[lang].find-out.name }}</a>
            </div>
        </section>

        {{ content }}
        
        
</div> <!-- End Grid -->
{% include javascripts.html %}
</body>
</html>
