<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ site.description }}" />
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/kickstart/css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" media="all" /> 
    
    <!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/kickstart/js/kickstart.js"></script>
</head>
<body>
<div class="grid">
    
        {% include navbar.html %}
    
    <section id="banner" class="wide">
        <div class="col_12">
            <h1 class="center">
            <p><i class="fa fa-fire"></i></p>
            {{ site.title }}</h1>
            <h4 style="color:#999;margin-bottom:40px;" class="center">{{ site.description }}</h4>
        </div>
    </section>
    <section id="about" class="background1 wide">
        <div class="col_12">
            <h2 class="center">About</h2>
        </div>
        
        <div class="col_8">
            
            <p>Sean began his career 35 years ago in Cornwall with a 5 year apprenticeship in plant &amp; machinery, hydraulic engineering and electrical.</p>
            <p>From there he worked and became self employed in the UK as a plant fitter and hydraulic engineer for 17 years.</p>
            <p>Sensing a change was due, he returned to college to study Oil Fired Boilers and unvented hot water systems. After gaining his tickets, he became OFTEC registered and set out as an oil central heating &amp; system design engineer in the UK.</p>
            <p>After an exciting move to France in 2003, the French 'chambre des metiers' recognised his UK qualifications. So he began to specialise in all aspects of French heating - with an especially keen interest in renewable energy and 'off grid'.</p>
            <p>He has since completed 'stages' here in France and is now able to offer sound advice and system design on most aspects of heating systems for the home.</p>
        </div>
        <div class="col_4">
            <div class="square">
                <img class="full-width squareImg" src="/assets/photos/sean/P1010637.jpeg" alt="Sean cutting stonework" />
            </div>
        </div>
    </section>
    <section id="services" class="background2 wide">
        <div class="col_12">
            <h2 class="center">Services</h2>
            <p class="center">All work is carried out ourselves to a very high standard and to French Normes (NF)</p>
        </div>
        <div class="col_6">
            <ul>
            <p>All equipment supplied and fitted</p>
                <li>Wood burners</li>
                <li>Pellet Burners</li>
                <li>Wood/Oil/Gas or Electric range cookers</li>
                <li>Back boilers to heat domestic hot water &amp; or radiators</li>
                <li>Solar &amp; hot water storage tanks</li>
                <li>Domestic hot water tanks with electrics</li>
                <li>Flues - replacement or new for wood &amp; oil. Chimneys lined &amp; sealed</li>
                <li>Firebird oil boilers and air source heat pumps</li>
            </ul>
        </div>
        <div class="col_6">
            <p>Tous l'équipement fourniture et pose</p>
            <ul>
                <li>Poêles à bois avec ou sans bouilleur</li>
                <li>Pôeles à granules</li>
                <li>Cuisinières à bois avec ou sans bouilleur chauffe eau</li>
                <li>Solaire eau chaude</li>
                <li>Ballon d'eau chaude</li>
                <li>Cheminées - tuyaux</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="col_6">
            <h3>Central heating</h3>
            <p>Central heating installations of any kind are possible - you can have whatever you want!</p>
            <p>Installations vary so much between houses and systems. So it's best to have a chat with Sean regarding your individual requirements and the most economic and efficient way they might be catered for.</p>
            <p>We will then provide a fully detailed quote (devis), with all parts and labour listed separately.</p>
        </div>
        <div class="col_6">
            <h3>Boiler service</h3>
            <p>A thorough boiler service which involves:
            <ul>
                <li>Complete investigation of the boiler &amp; burner</li>
                <li>Replacing the fuel nozzle</li>
                <li>Cleaning all fuel filters</li>
                <li>Vacuuming the boiler casing &amp; flue exit</li>
                <li>An emmissions test with print out and Attestation</li>
            </ul>
            <p><strong>Price: 170&euro; + vat</strong></p>
        </div>
    </section>
    <section id="photos" class="background1 wide">
        <div class="col_12">
            <h2 class="center">Photos</h2>
            <div class="gallery center">
                <a href="http://placehold.it/600x450/4D99E0/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/4D99E0/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/75CC00/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/75CC00/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/E49800/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/E49800/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/E4247E/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/E4247E/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/00C6E4/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/00C6E4/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/E4DB0F/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/E4DB0F/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/7400E4/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/7400E4/ffffff.png&text=100x100" width="100" height="100" /></a>
                <a href="http://placehold.it/600x450/C50000/ffffff.png&text=600x450"><img src="http://placehold.it/100x100/C50000/ffffff.png&text=100x100" width="100" height="100" /></a>
            </div>
            <ul class="slideshow">
                <li><img src="http://placehold.it/550x350/4D99E0/ffffff.png&text=550x350" width="550" height="350" title="abc" /></li>
                <li><img src="http://placehold.it/550x350/75CC00/ffffff.png&text=550x350" width="550" height="350" /></li>
                <li><img src="http://placehold.it/550x350/E49800/ffffff.png&text=550x350" width="550" height="350" /></li>
                <li><h3>Slide Anything</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p></li>
            </ul>
        </div>
    </section>
    <section id="testimonials" class="background3 wide">
        <div class="col_12">
            <h2 class="center">Testimonials</h2>
            <h4>Mr &amp; Mrs Snell, Bain</h4>
            <p>We installed Mr Snell's own Rayburn with back boiler</p>

            <blockquote>
                <p>Hi Both, Just to let you know that the new system is working, and exceeding expectation. The house is warm and the water is hot. The Yorkshire puds are the best we've had for a very long time. So a big thank you. With a bit of experimentation we're getting a grasp on how to tweak the system. All the best and thanks again - really improved our life here!</p>
                <p>John</p>
            </blockquote>

            <h4>Mrs Anne Thompson, Rostrenen</h4>
            <p>A fully automatic system with woodburner &amp; oil boiler</p>

            <blockquote>
                <p>Thank you for everything, never had so many windows and doors open in October it was so hot!</p>
                <p>Regards Anne &amp; George
            </blockquote>

            <h4>Mr &amp; Mrs Alan &amp; Chloe Boyce, St Hernin</h4>
            <p>We installed a Villager BH woodburner</p>
            <blockquote>
                <p>Hi Karen ( &amp; Sean!),</p>
                <p>Massive thanks to both of you for organising our woodburner installation and for doing such a great job last week.</p>
                <p>We lit it for the first time on Saturday and it was lovely. It looks magical and we were warm as toast.</p>
                <p>It really makes our cottage seem like a proper home now and I'm sure we'll be getting tons of use from it in the future.</p>
                <p>It's been a pleasure working with both of you in getting it put in and we wanted to say how grateful both of us are.</p>
                <p>All the best!</p>
                <p>Chloe</p>
            </blockquote>
                
                <h4>Mrs Sue Gilbert, Huelgoat</h4>
                <p>We installed a Cashin V8 woodburner &amp; altered the central heating system</p>
                <blockquote>
                    <p>Hi Karen and Sean,</p>
                    <p>Please find attached the photo of the Wood Burner as promised.</p>
                    <p>It is marvellous, we aren't dreading the Winter this year!</p>
                    <p>Central heating also great now, not that we need it much anymore as the Wood Burner is so efficient!</p>
                    <p>We are absolutely delighted with the Wood Burner, it's so easy to use, hardly uses any fuel and we are SO warm. All in all it is fantastic.</p>
                    <p>Thank you so much for the very efficient way you have dealt with all this for me, it's been a pleasure doing business with you, and Sean is a Genius!</p>
                    <p>All the best and thanks again for everything,</p>
                    <p>Sue'</p>
                </blockquote>
                <h4>Mr &amp; Mrs Ian &amp; Gail Trew, Rostrenen</h4>
                <blockquote>
                    <p>We would just like to share our joy with you; we have today received a cheque from the tax office for 1507€ our Credit D'Impot for the woodburner etc.</p>
                    <p>Many thanks for all your help in providing all the relevant paperwork to enable us to make our tax credit claim. I have to say I didnt think it would be that easy!</p>
                    <p>Happy Plumbing!</p>
                    <p>Ian &amp; Gail Trew</p>
                    <p>PS. We are only sharing our joy with you, not the loot!!</p>
                </blockquote>
                <h4>Mr & Mrs Dave Middleton, Duault</h4>
                <p>We installed a Villager Puffin in a wooden built house, necessitating a complete new installation of an insulated flue.</p>
                <blockquote>
                    <p>Thanks again to Sean for the fire job. Dave was very pleased when he came home with it. I will certainly recommend Sean if anyone asks me, also we will be contacting Sean for a digging job later near summer which I discussed with him while he was here. Also could you send us any info on wind turbines as Dave is interested in having one. Many thanks again.</p>
                    <p>Dave &amp; Davina</p>
                </blockquote>
        </div>
    </section>
    <div class="col_12" id="contact">
    </div>
    {% include footer.html %}
</div> <!-- End Grid -->
{% include javascripts.html %}
</body>
</html>
